<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>COIMA.com COIMA</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    </body>
</html>