<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COIMA.com COIMA</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<script type="text/javascript">


    function sendToPage(){
        var input = document.getElementById("search").value;
        //alert(input);
        if (input != ""){
            location.replace("Movies?name="+input
                    .replace(" ", "%20"));
            return false;
        }
        else {
            alert('Invalid Input.');
        }
    }
</script>

<div>
    <form action="" onsubmit="return sendToPage()" method="post">
        <input type="text" id="search" placeholder="Search" value="">
    </form>
</div>

</body>
</html>